# Created by https://www.toptal.com/developers/gitignore/api/rust

# Dependency directories
/target/

# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Debugger files
*.dSYM/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
